doctype html
html(ng-app="unohana")
  head
    title= title
    link(rel='stylesheet', href="assets/styles.css")
    link(rel='stylesheet', href='assets/font-awesome.css')
    link(rel='stylesheet', href='assets/ionicons.css')
    link(rel=stylesheet, href='https://cdn.rawgit.com/doximity/vital/v1.2.0/dist/css/vital.min.css')
  body
    block header
    block content
    script(type='text/javascript',src="assets/angular.js")
    script(type='text/javascript',src="assets/jquery.js")
    script(type='text/javascript',src="assets/bootstrap.js")
    
    script(type='text/javascript',src="assets/lodash.compat.js")
    
    script(type='text/javascript',src="assets/angular-ui-router.js")
    script(type='text/javascript',src="assets/restangular.js")
    script(type='text/javascript',src="assets/smart-table.min.js")
    script(type='text/javascript',src="assets/Chart.js")
    script(type='text/javascript',src="assets/angular-chart.js")
    script(type='text/javascript',src="assets/angular-aside.js")
    script(type='text/javascript',src="assets/textAngularSetup.js")
    script(type='text/javascript',src="assets/textAngular-sanitize.js")
    script(type='text/javascript',src="assets/textAngular.js")
    script(type='text/javascript',src="assets/moment.js")
    script(type='text/javascript',src="assets/angular-moment.js")
    script(type='text/javascript',src="assets/headroom.js")
    script(type='text/javascript',src="assets/ui-bootstrap-tpls.js")
    script(type='text/javascript',src="assets/highcharts.js")
    script(type='text/javascript',src="assets/highcharts-ng.js")
    script(type='text/javascript',src="assets/jQuery.headroom.js")
    script(type='text/javascript',src="assets/rangy-core.js")
    script(type='text/javascript',src="assets/rangy-selectionsaverestore.js")
    script(type='text/javascript',src="assets/slick.js")
    script(type='text/javascript',src="assets/slick.min.js")
    script(type='text/javascript',src="assets/angular-wizard.min.js")
    script(type='text/javascript',src="assets/angular-local-storage.js")
    script(type='text/javascript',src="assets/angular-permission.js")
    script(type='text/javascript',src="assets/angular-validator.js")
    script(type='text/javascript',src="assets/pushy.js")
    script(type='text/javascript',src="assets/loading-bar.js")
    script(type='text/javascript',src="assets/pushy.js")
    script(type='text/javascript',src="assets/socket.js")
    script(type='text/javascript',src="assets/angular-drag-and-drop-lists.min.js")
    //- script(type='text/javascript',src="assets/angular-filter.min.js")
    
    
    script(type='text/javascript',src="assets/app.js")
