doctype html
html
  head
    title= title
    link(rel='stylesheet', href="assets/styles.css")
    link(rel='stylesheet', href='assets/font-awesome.css')
    link(rel='stylesheet', href='assets/ionicons.css')
    link(rel=stylesheet, href='https://cdn.rawgit.com/doximity/vital/v1.2.0/dist/css/vital.min.css')
  body
    block header
    block content
    
    script(type='text/javascript',src="assets/jquery.js")
    script(type='text/javascript',src="assets/bootstrap.js")
    
    script(type='text/javascript',src="assets/lodash.compat.js")
    
    script(type='text/javascript',src="assets/app.js")
