
.btn{
  text-decoration: none;
  border-radius:0 !important;
  padding:10px 15px;
  // color:white !important;
 border:none;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  i{
    padding:0 5px;
  }
}
a{
  color:$dark-gray;
  i{
    padding-right:5px;
  }
}
.btn-dark{
  background:$silver;
  color:$dark-gray;
}
.btn-primary{
  background:$cyan-cornflower-blue;
}
.btn-info{
  background:$ash-grey;
  border:$ash-grey;
}
.btn-success{
  background:$sage;
  border:$sage;
}
.btn-danger{
  background:$sunset-orange;
  color:white !important;
}
.btn-warning{
  background:$mellow-apricot;
  border-color:$mellow-apricot;
}
.btn-default{
  background:$carrara;
  border-color:$silver;
}
.btn-animated:hover{
  //box-shadow:0 2px $flamingo;
  top: 2px !important;
}
.btn-animated:active{
  //box-shadow:0 0 $madison;
  top: 6px !important;
}

// Link
.link,.link:hover{
  color:$flamingo;
}
