// Admin Colors
// Grays

// Navigation
$carrara:#F2F1EF;
// Active Links and RED
$flamingo:#EF4836;
// Links and BLUE
$madison:#2C3E50;
// Success and GREEN
$ocean-green:#4DAF7C;

// Typography
// Header background
$silver:#BFBFBF;
$dark-gray:#333;
$light-gray:#ddd;

$picton-blue:#59ABE3;
$confetti:#E9D460;


$ash-grey:#B1C1C0;
$mellow-apricot:#f0b67f;
$sage:#B8C480;
$sunset-orange:#fe5f55;
$cyan-cornflower-blue:#188fa7;
$bone:#E6DBD0;
